body{
	color: gray;
}
.wrapper_up_article{
	display: flex;
	flex-direction: column;
}
h1{

}
.wrapper_up{
	display: flex;
	flex-wrap: wrap;

}
.wrapper_up > div{
	background-color: #fff;
	/*height: 200px;*/
	/*width: calc(1/2*100% - (1 - 1/2)*10px);*/
	justify-content: space-between;
	height: 100%;
	box-shadow: 1px 2px 3px gray;
}
/***************************/
.edit_profile{
	flex: 4;
	margin: 0 5px 0 0 ;
	padding: 0 15px 15px 15px;
}
.edit_profile > div.red_head{
	background-color: #c32056;
	color: #fff;
	box-sizing: border-box;
	padding: 15px;
	transform: translateY(-15px);
}
.red_head h3{
	font-size: 18px;
	margin: 0 0 10px 0;
}
.edit_profile input{
	border-bottom: 1px solid gray;
}
.edit_profile form{
	text-align: justify;
}
#to_button{
	text-align: right;
}
.edit_profile form p, .edit_profile form input{
	text-align: left;
	display: inline-block;
}
.edit_profile form input{
	padding: 4px 5px ;
	margin: 0 0 15px 0;
}
.edit_profile form p:nth-of-type(-n+3){
	width: 32%;
}
.edit_profile form input:nth-of-type(-n+3){
	width: 32%;
}
.edit_profile form p:nth-of-type(n+4):nth-of-type(-n+6){
	width: 49%;
}
.edit_profile form input:nth-of-type(n+4):nth-of-type(-n+6){
	width: 49%;
}
#input_address{
	width: 100%;
}
.edit_profile form p:nth-of-type(n+7):nth-of-type(-n+10){
	width: 32%;
}
.edit_profile form input:nth-of-type(n+7):nth-of-type(-n+10){
	width: 32%;
}
.about_me{
	width: 100%;
}
textarea{
	border-bottom: 1px solid gray;
	margin: 0 0 15px 0;
}
.edit_profile button{
	padding: 5px 50px;
	background-color: #c32056;
	color: #fff;
	box-shadow: 1px 2px 3px gray;
}
/**********************************/
.alec_thompson{
	flex: 2;
	text-align: center;
	margin: 0 0 0 5px;
	padding: 0 15px 15px 15px;
	box-sizing: border-box;
}
.alec_thompson img{
	display: inline-block;
	border-radius: 50%;
	box-shadow: 1px 1px 5px 3px lightgray;
	transform: translateY(-30px);
}
.alec_thompson span{
	display: block;
	margin: -15px 0 10px 0;
}
.alec_thompson h3{
	font-weight: bold;
	margin: 0 0 10px 0;
	color: #333;
}
.alec_thompson p{
	font-size: 13px;
}

/************************************************/
/*********************FOOTER*********************/
/************************************************/

.footer{
	display: flex;
	justify-content: space-between;
	border-top: 1px solid  #999999;
	padding: 20px 10px 0 10px ;
	color: gray;
}

.footer ul li{
	display: inline-block;
	margin: 0 15px 0 0;
	font-weight: bold;
}
.footer ul li a{
	color: #4d4d4d;

}